<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppoinmentSystem</display-name>
  <resource-ref>
    <res-ref-name>connection</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DocSaveServlet</servlet-name>
    <servlet-class>com.appoinment.DocSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocSaveServlet</servlet-name>
    <url-pattern>/saveServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DocRegValidation</display-name>
    <filter-name>DocRegValidation</filter-name>
    <filter-class>com.appoinment.DocRegValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DocRegValidation</filter-name>
    <url-pattern>/saveServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DocLoginServlet</servlet-name>
    <servlet-class>com.appoinment.DocLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocLoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocUpdateServlet</servlet-name>
    <servlet-class>com.appoinment.DocUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocUpdateServlet</servlet-name>
    <url-pattern>/docupdateServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DocUpdateValidation</display-name>
    <filter-name>DocUpdateValidation</filter-name>
    <filter-class>com.appoinment.DocUpdateValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DocUpdateValidation</filter-name>
    <url-pattern>/docupdateServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DocLogoutServlet</servlet-name>
    <servlet-class>com.appoinment.DocLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocLogoutServlet</servlet-name>
    <url-pattern>/DocLogoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DocLogValidation</display-name>
    <filter-name>DocLogValidation</filter-name>
    <filter-class>com.appoinment.DocLogValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DocLogValidation</filter-name>
    <url-pattern>/loginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PatiRegServlet</servlet-name>
    <servlet-class>com.appoinment.PatiRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatiRegServlet</servlet-name>
    <url-pattern>/patiSaveServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PatiRegValidation</display-name>
    <filter-name>PatiRegValidation</filter-name>
    <filter-class>com.appoinment.PatiRegValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PatiRegValidation</filter-name>
    <url-pattern>/patiSaveServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PatiLoginServlet</servlet-name>
    <servlet-class>com.appoinment.PatiLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatiLoginServlet</servlet-name>
    <url-pattern>/patientLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PatiLoginValid</display-name>
    <filter-name>PatiLoginValid</filter-name>
    <filter-class>com.appoinment.PatiLoginValid</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PatiLoginValid</filter-name>
    <url-pattern>/patientLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PatiUpdateServlet</servlet-name>
    <servlet-class>com.appoinment.PatiUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatiUpdateServlet</servlet-name>
    <url-pattern>/patiUpdateServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PatiUpdateValidation</display-name>
    <filter-name>PatiUpdateValidation</filter-name>
    <filter-class>com.appoinment.PatiUpdateValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PatiUpdateValidation</filter-name>
    <url-pattern>/patiUpdateServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PatiLogoutServlet</servlet-name>
    <servlet-class>com.appoinment.PatiLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatiLogoutServlet</servlet-name>
    <url-pattern>/PatiLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocAvailableServlet</servlet-name>
    <servlet-class>com.appoinment.DocAvailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocAvailableServlet</servlet-name>
    <url-pattern>/docAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.appoinment.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchDocServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdLoginServlet</servlet-name>
    <servlet-class>com.appoinment.AdLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLoginServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.appoinment.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/requestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatiListServlet</display-name>
    <servlet-name>ViewPatiListServlet</servlet-name>
    <servlet-class>com.appoinment.ViewPatiListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatiListServlet</servlet-name>
    <url-pattern>/ViewPatiListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptServlet</servlet-name>
    <servlet-class>com.appoinment.AcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptServlet</servlet-name>
    <url-pattern>/acceptPatiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.appoinment.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>